numpy==1.26.4
pandas==2.2.2
streamlit==1.36.0
plotly==5.22.0

SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
python-dotenv==1.0.1

beautifulsoup4==4.12.3
requests==2.32.2
# selenium==4.21.0   # (ne l’ajoute que si ton APP Streamlit lance vraiment le scraper)
